@import '../../variables.scss';

.formLayout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: 10px;

  .formLayoutContent {
    flex: 1;

    h3 {
      font-size: $pt-font-size-xlarge;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 8px;
    }
  }

  .formLayoutFixedHeader {
    padding: 20px 20px 4px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: $background-color;
    margin-top: 85px;
  }

  .form-flex-row-css  {
    .field {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .field:first-child {
      padding-left: 0;
    }
  
    .field:last-child {
      padding-right: 0;
    }

    .bp3-switch {
      padding-top: 10px;
      margin-top: 23px;
    }

    .bp3-checkbox {
      padding-top: 10px;
      margin-top: 23px;
    }

    .bp3-control {
      margin-bottom: 7px;
    }

    .label-field-state {
      padding-top: 5px;
      font-weight: bold;
    }
  }

  .add-button {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

.formLayoutFooter {
  padding-top: 16px;
}
