@import '../../../variables.scss';

.wizardCaseContainer {
  .callout {
    position: fixed;
    top: 95px;
    z-index: 10;
    left: 50%;
    pointer-events: none;

    >div {
      pointer-events: all;
      left: -50%;
    }
  }

  .container {
    margin-top: 12px;
    padding: 16px;
    width: 100%;
    background-color: $background-color-alt;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .form {
    margin-top: -8px;
    .field.warrant-case-status{
      div {
        display: flex;
        .label-field {
          color: rgba($font-color, 0.7);
          margin-left: 4px !important;
        }
      }
    }
  }

  .section-header {
    font-size: $pt-font-size-xlarge;
    margin-bottom: 10px;
  }

  .instructional-text {
    font-size: $instruction-text-font-size;
    color: $dark-gray1;
    opacity: 0.7;
    padding: 0 16px;
    &-highlight {
      text-transform: uppercase;
    }
  }

  .form-flex-row-css .include-case {
    label.bp3-control {
      padding-top: 0;
      margin-top: 0;
      text-align: right;
    }
  }

  .form-flex-row-css .delete-case {
    div{
      display: flex;
      justify-content: flex-end;
    }
  }
  

  .form-flex-row-css .case-options,
  .form-flex-row-css .case-interface {
    width: auto;
    white-space: nowrap;
    padding-right: 0;
    margin-top: 5px;

    label.bp3-label {
      display: none;  
    }
  }

  .include-case-in-warrant-popup{
    &-message {
        margin-bottom: 15px;
    }
  }
}
.multiple-entries {
  .wizardCaseContainer {
    .form {
      margin-top: -33px;
    }
  }
}