.xcrdd-setting {
  height: 100%;
  display: grid;
  grid-template-columns: 222px auto;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;

  aside {
    height: inherit;
    border-right: 1px solid #d4d2d2;
    #xcrdd-setting-title {
      display: block;
      width: 84px;
      height: 37px;
      font-size: 24px;
      line-height: 37px;
      margin: 8px 0 33px 0;
      color: #182026;
    }
    .custom-side-menu-items {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      height: 36px;
      line-height: 24px;
      .bp3-icon {
        color: #5c7080;
        margin-right: 11px;
        display: flex;
        align-items: center;
      }
    }
    .custom-side-submenu-items {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      div {
        padding: 4px 10px 4px 24px;
        width: 178px;
        height: 29px;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
      }
      .custom-side-submenu-items-active {
        background: rgba(19, 124, 189, 0.2);
        font-weight: 600;
        color: #106ba3;
      }
    }
  }
  .bp3-divider {
    position: absolute;
    top: 30px;
    height: 31px;
    left: 236px;
  }
  section {
    margin-left: 32px;
    .xcrdd-field-title {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      font-size: 18px;
      margin: 24px 0;
    }
  }
}
