@import '../../variables.scss';

.field.field-desc {
    margin-top: -5px;

    .field-desc-container {
        align-items: center;
        display: flex;

        &-value {
            color: $dark-gray-alt3;
            font-size: $pt-font-size-small;
            font-weight: normal;
        }
    }
}