@import '../../variables.scss';

.intent-danger-message {
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
  word-wrap: break-word;
}

.box-row {
  display: flex;
  flex-wrap: row wrap;
  justify-content: start space-between;
}

.box-column {
  padding: 10px;
  max-width: 250px;
}
