@import '../../../variables.scss';

.cases-advanced-provisioning {
  .align-right {
    float: right;
  }

  .access-function-filter {
    margin-bottom: 10px;
  }

  .access-function-header {
    padding: 7px 0 10px 0;

    .title {
      font-weight: 600;
    }

    label {
      margin: 0;
    }
  }
  
  .access-function-list {
    background: $background-color;
    box-shadow: 0px 0 0 rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2);
    padding: 4px;
    margin-bottom: 10px;
    max-height: 258px;
    overflow: auto;
  }
  
  .access-function-item {
    padding: 7px;
    position: relative;
    padding-right: 124px;

    label {
      margin-bottom: 0;
    }

    button {
      top: 10px;
      position: absolute;
      right: 10px;
    }

    .required-info,
    .fulfilled-info,
    .disabled-info {
      padding-left: 26px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
