@import '../../../variables.scss';

.targetContainer{
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.targetContainerDiv .selectedclass .targetsRowContainer{
  background-color: $background-color-selected;
  border-color: $border-color;
}

.targetPanelTargets .targetsRowContainer .label {
  display: flex;  
}

.targetContainerDiv {
  min-height: 180px; 
  margin: 5px 16px; 
  min-width: 32%; 
  max-width: 50%;  
  width: 50%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .section-header {
    font-size: $pt-font-size-xlarge;
    margin-bottom: 10px;
  }

  .instruction-text {
    color: $dark-gray1;
    opacity: 0.7;
    font-size: $instruction-text-font-size-small;
  }
}

.targetPanelTargets{
  min-width:32%;
  max-width: 50%;
  width: auto;
}

.selectedAFacc-func{
  background-color:lightblue;
}

.targetSummaryOfTargetPanelTargetsList {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 10px;
  @media (min-height: 768px) {
    max-height: 350px;
  }
}

.adv-prov-div{
  width: 32%;
  margin-right: 10px;
}

.adv-prov-target-div{
  width: 33%;
  margin-right: 9px;
}

.additional-target-info-forms {
  .form-flex-row-css .bp3-checkbox {
    padding-top: 0;
    margin-top: 0;
  }
}
