.allowed-ips-update0-table {
  .ag-cell.ag-cell-with-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing {
    .ag-react-container {
      height: 26px;
    }
    .ag-cell-edit-input.invalid-field {
      border: 1px solid #c23030;
      padding-left: 20px;
    }
    .ip-cell-editor-input-icon {
      position: absolute;
      transform: translateX(5px);
    }    
  }
}
