.collection-function-form {
  height: inherit;

  .form-flex-row-css .inside-nat,
  .form-flex-row-css .buffering-cc,
  .form-flex-row-css .cell-tower-location {
    width: auto;
    white-space: nowrap;
    padding-right: 0;
    margin-top: 5px;

    label.bp3-checkbox {
      margin-top: 0;  
    }
  }

  .multi-tab-form-section {
    padding-top: 8px;
    padding-bottom: 4px;
  }

  .multi-tab-form-section > h3 {
    display: none;
  }
}