@import '../../../variables.scss';

.formDisabled{
  pointer-events: none;
}

.formEnabled{
  pointer-events: inherit;
}

.bp3-form-group {
  border: 1px solid #ccc;
  padding: 10px;
}

$active: #EF5C1F;
$complete: #cdcdcd;
$incomplete: #F9C9B9;

.progressbar {
  counter-reset: step;
  display: flex;
  flex-direction: row;
  // flex-basis: max-content;
}

.progressbar li {
  list-style-type: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  flex-basis: 100%;
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: $active; // grey; // green;
}

.progressbar li.active:before {
  border-color: $active;
}

.progressbar li.complete {
  color: $complete;
}

.progressbar li.complete:before {
  border-color: $complete;
}

.wizard-content-container {
  background: #efefef;
  padding: 20px;
  margin-top: 40px;
}

.wizard-help-container {
  // padding: 20px;
  margin-top: 40px;
}

.actionButton {
  margin-top: 5px;
  margin-right: 5px;
}

.actionButtonDevice {
  margin-top: 10px;
  margin-left: 10px;
}
.formLabel {
  margin-right: 10px;
  padding: 5px;
}
.icon {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.newWarrantHeader {
  display: flex;
  flex-direction : row;

  .button-actions {
    margin-top: 6px;
    margin-right: 10px;
  }
}

.newWarrantTitle {
  margin-right: auto;
}

.caseContainer {
  border: solid grey 2px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.warrant-state {
  color: $dark-gray-alt2;
}
