@import '../../../../variables.scss';

.access-function-form {
  height: inherit;

  &-required-interfaces-instructional-text {
    color: rgba($font-color, 0.7);
    font-family: $font-family;
    font-size: $pt-font-size;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 0;
  }

  .multi-tab-form-section {
    padding-top: 8px;
    padding-bottom: 4px;
  }
}