@import '../../../variables.scss';

.collection-function-destination-phone {
    margin-top: 16px;
}

.gencccRowContainer {
    border: 1px solid $border-color;
    background-color: $background-color-alt2;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 16px 10px;
}