.login-container {
  z-index: 10;
  top: 0; left: 0;
  background-image: url('./../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  .login-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-size: 41px; // 3em;
      margin: 0;
      text-align: right;
      color: grey;
      display: flex
    }
  }
  .login-logo {
    flex-shrink: 0;
    height: 36px;
  }
  .login-form {
    background: #f1f1f1;
    width: 400px;
    padding: 20px;
    input { 
      margin-bottom: 10px;
    }
    .errorDisplay{
      color: darkred;
    }
    align-content: space-around;
    border: 2px solid #efefef;
  }
}
.login-message {
  background: #f1f1f1;
  width: 680px;
  height: 670px;
  padding-left: 30px;
  position:relative;
  h4{
    color: grey;
    }
  .iframe-container{
    iframe{
      border:  #efefef;
      width: 600px;
      height: 520px;
    }
    .button-holder{
      position: absolute;
      right: 10px; 
      bottom: 10px;
      button{ 
        width: 65px;
        //border-radius: 5px;
      }
    }
    }
    align-content: space-around;
    border: 2px solid #efefef; 
}