@mixin passwordupdateform{
  .passwordupdate-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    h1 {
      font-size: 40px; // 3em;
      text-align: right;
      color: grey;
      display: flex
    }
  }
  h2{
    color: grey;
    font-size: 25px; // 
  }
  .login-logo {
    flex-shrink: 0;
    height: 36px;
  }
  .passwordupdate-form {
    background: #f1f1f1;
    width: 400px;
    padding: 20px;
    input { 
      margin-bottom: 10px;
    }
    .errorDisplay{
      color: darkred;
    }
    .passwordPolicyDisplay{
      color: darkred;
      margin-bottom: 20px;
    }
    align-content: space-around;
    border: 2px solid #efefef;
  }
}

.passwordupdate-container {
  z-index: 10;
  top: 0; left: 0;
  background-image: url('./../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightyellow;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  @include passwordupdateform;
}


.passwordupdate-authenticated-container {
  z-index: 10;
  top: 0; left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  @include passwordupdateform;  
}
