@import '../../variables.scss';

.config-form-header {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.config-form-header-leftside {
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.config-form-body {
  margin-left: 20px;  
  margin-right: 20px;

  .section-header {
    font-size: $pt-font-size-xlarge;
    margin-bottom: 10px;
  }

  .instructional-text {
    font-size: $instruction-text-font-size;
    color: $dark-gray1;
    opacity: 0.7;
    padding: 0 16px;
  }
}
