.access-function-grid .ag-header-row .ag-header-cell .ag-react-container {
  width: 100%;
}

.access-function-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .ag-header-cell-text {
    margin-left: 7px;
  }

  .ag-icon.ag-icon-contracted {
    display: inline-block;
    vertical-align: sub;
  }

  .ag-icon.ag-icon-contracted:nth-child(2){
    margin-left: -12px;
  }

  .collapsed {
    display: inline-block;
    transform: rotate(90deg);
  }

  .expanded {
    display: inline-block;
  }

  .ag-header-icon .ag-icon {
    display: inline-block;
    vertical-align: sub;
  }

  .ag-header-icon.ag-header-cell-menu-button {
    opacity: 0;
    transition: opacity 0.2s ease 0s, border 0.2s ease 0s;
  }

  &:hover .ag-header-icon.ag-header-cell-menu-button {
    opacity: 1;
  }
}
