.dialog-fields {
  display: flex;
  justify-content: space-between;
  div {
    margin-bottom: 24px;
    b {
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #182026;
    }
  }
}


