@import '../../../variables.scss';

.target-ccc-nortel-mtx-ccr{
   
    &-content-deliver-type{
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &-label{
            color: $black;
            font-size: $pt-font-size;
            margin-bottom: 10px;
        }
        &-variation{
            color: $dark-gray-alt2;
        }
    }
    &-tabs{
        align-items: center;
        display: flex;
        margin-bottom: 14px;
        &-add-icon{
            color: $dark-gray-alt3
        }
    }
    &-tab-panels-remove{
        float: 'right'
    }
    &-trunk-label {
        font-weight: 600;
    }
}
