@import '../../../variables.scss';

label.bp3-label {
    margin-bottom: 0px !important;
    margin: 4px 0 !important;
}

.targetsRowContainer {
    border: 1px solid $border-color;
    background-color: $background-color;
    border-radius: 2px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    flex-grow: 12;
    padding: 4px 0px 8px 10px;
}

.formDisabled{
    .bp3-input{
        background: $input-disabled-background-color;
        box-shadow: none;
    }
}