.action-button {
    height: 20px
}

.actions-button-container {
    display: flex;
    justify-content: space-between;
}

.display-message {
    display: flex;
    justify-content: center;
    padding: 5px;
}