.form-section-header {
  display: flex;
  flex-direction: row;

  .form-section-title {
    margin-right: auto;
  }
}

.form-heading-note {
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: rgba(24, 32, 38, 0.7);
  /* Inside Auto Layout */
  margin: 12px 0px;
}
