@import '../../../../variables.scss';
.display-inline {
  display: inline-block !important;
}

.status-form-container {
  word-wrap: break-word;
  &.bulk-action {
    min-width: 510px;
    min-height: 200px;
    max-height: 200px;
    margin: 20px 0;
    //  Display  scrollbar
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      &:vertical {
        width: 8px;
      }
      &:horizontal {
        height: 8px;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .status-container {
    border-style: solid;
    border-width: 0em 0em 0em 0.25em;
    padding: 4px 0px;
    margin: 5px;
    vertical-align: middle;
    font-size: 12px;
    word-wrap: break-word;
    &.error {
      border-color: $error-color;
    }
    &.success {
      border-color: #0d8050;
    }
  }
}

.bp3-toast.bp3-intent-danger.show-status-message-bp3-toast{
  min-width: 500px;
  max-width: 500px;
}
