@import '../../variables.scss';

.alert-notification {
  position: fixed;
  top: 52px;
  z-index: 20;
  left: 50%;
  pointer-events: none;
  width: 600px;

  >div {
    pointer-events: all;
    left: -50%;
  }

  .bp3-callout.bp3-intent-danger {
    background-color: $background-color-danger;
  }

  .bp3-heading {
    cursor: default;
  }

  .alert-notification-collapse-expand {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 13px;
    color: $red2;
    cursor: pointer;
  }

  .alert-notification-content {
    max-height: 100px;
    overflow: auto;
  }

  .alert-notification-item {
    padding: 2px 0;
  }
}