@import '../../variables.scss';

.invalid-field .bp3-input,
.invalid-field.bp3-html-select select {
  border: 1px solid $error-color;
}

.required-field {
  color: $error-color;
}

.field-error-message {
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
  word-wrap: break-word;
}

.field-footnote {
  color: #5c7080;
  margin-top: 5px;
  font-size: 12px;
  word-wrap: break-word;
}

.formDisabled {
  pointer-events: none;
}

.formEnabled {
  pointer-events: all;
}

.field-group {
  // flex-grow:1;
  padding: 5px;
  width: 100%;
}

.field {
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 4px;
  width: 100%;
}

.field-empty {
  padding: 0;
}

.input-maxwidth {
  min-width: 100px;
  width: 100%;
  display: block;
}

.input-maxwidth > .bp3-popover-target {
  width: 100%;
  display: block;
}

.case-options-column-wrap > .field-group > .bp3-form-group {
  margin: 0px !important;
  padding: 5px !important;
}

.form-flex-row-css {
  display: flex;
  flex-flow: row;
}

.form-flex-col-css {
  display: flex;
  flex-flow: column;
}

.case-options-column-wrap {
  flex-flow: column wrap;
  height: 90%;
  width: auto;
  min-height: 350px;
  max-height: 515px;
}

.case-options-column-wrap > .field {
  padding: 3px !important;
  width: auto !important;
}
.case-options-column-wrap > .field-group {
  width: auto !important;
}
.groupButton-container {
  margin-top: 10px;
  display: flex;

  justify-content: space-between;
  p {
    //color: gray;
  }
  .groupButton {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 180px;
    background-color: white;
    button {
      width: 170px;
      padding: 10px;
      text-align: left;
      border: none;
      background: none;
    }
  }
  .arrow-container {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: aqua;
  }
}

.popover-scroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.plainText {
  height: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(24, 32, 38, 0.7);
  display: flex;
  align-items: center;
  span {
    padding: 0 6px;
  }
}
