.table-label {
    margin: 0px 0px 2px 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
}

table#summary {
    width: fit-content;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: 20px;

}

.summary th {
    padding: 2px 2px;
    vertical-align: top;
    font-weight: bolder;
    text-align: right;
    white-space: nowrap;
}

.summary td {
    padding: 2px 2px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.summary-table-first-row {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
  
.summary-table-attachment-container {
    display: inline-block;
}


.summary-table-attachment-container {
    display: inline-block;
}

.summary-advertise{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: normal;
    color: rgba(24, 32, 38, 0.7);
}

.summary-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    margin-bottom: 12px;
}

.summary-cards{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-bottom: 12px;
    width: 100%;
}

.summary-card {
    align-self: baseline;
    background-color: #F5F7F7;
    border: 1px solid #D4D2D2;
    border-radius: 4px;
    padding: 16px 16px 19px 16px;
    width: 235.42px;
    margin-bottom: 16px;
    &:not(:last-child){
        margin-right: 16px;
    }
}

.summary-card-case{
   width: 301px;
}

.summary-warrant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;

    .summary-card-info {
        flex: 1 1 0px;
        min-width: 0;
    }

    .summary-card-field-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.summary-card-field {
    margin-bottom: 8px;
}

.summary-card-field-label {
    font-weight: 600;
    margin-right: 5px;
}

.summary-card-target-sub-items{
    padding-inline-start: 28px;
}