@import '../../../../variables.scss';

.access-function-status-cell-renderer {
  .status {
    top: 5px;
    position: relative;
    margin-right: 7px;
  }

  .active {
    color: $green2;
  }

  .inactive {
    color: $light-gray1;
  }

  .partially-active {
    color: $gold4;
  }

  .failed {
    color: $red-alt1;
  }
}
