@import '../../../../../variables.scss';

.additional-target-info-status {
  .required-icon,
  .fulfilled-icon {
    display: none;
    vertical-align: bottom;
    margin-left: 10px;
  }

  &.required-info {
    color: $red2;

    .required-icon {
      display: inline-block;
    }
  }

  &.fulfilled-info {
    color: $dark-gray1;
    opacity: 0.7;

    .fulfilled-icon {
      display: inline-block;
    }
  }

  &.disabled-info {
    color: $dark-gray1;
    opacity: 0.5;

    .required-icon,
    .fulfilled-icon {
      color: $dark-gray1;
      opacity: 0.5;
    }
  }
}