.response-details-container {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.response {
    display: flex;
    flex-direction: row;
}

.response-message {
    margin-left: 5px
}