.allowed-ips-update-table {
  height: 12.5rem;
  margin-bottom: 1.25rem;
  margin-top: 3px;

  // Subscriptions
  .ag-row-inline-editing > .ag-cell-not-inline-editing {
    color: rgba(92, 112, 128, 0.5);
  }
}

.allowed-ips-update-table-center-cell {
  text-align: center;
}

.allowed-ips-update-table-action-header {
  .ag-header-cell-label {
    display: flex;
    justify-content: center;
  }
}
