.distributor-status-cell-renderer {
  .status {
    top: 5px;
    position: relative;
    margin-right: 7px;
  }

  .active {
    color: #0D8050;
  }

  .inactive {
    color: #DE4343;
  }

  .partially-active {
    color: #F2B824;
  }
}
