@import '../../variables.scss';

.field.field-current-state {
    margin-top: -5px;

    >div {
        align-items: center;
        display: flex;

        >label {
            color: $dark-gray-alt3;
            font-size: $pt-font-size-small;
            margin: 0 !important;
            margin-right: 7px !important;
        }
    }

    .field-current-state-container {
        align-items: center;
        display: flex;

        &-bullet {
            background-color: $dark-gray-alt3;
            border-radius: 100rem;
            margin-right: 7px;
            height: 10px;
            width: 10px;

            &-active {
                background-color: $green2;
            }

            &-inactive {
                background-color: $dark-gray-alt3;
            }

            &-failed {
                background-color: $error-color;
            }

            &-partially_active {
                background-color: $gold4;
            }
        }

        &-value {
            font-size: $pt-font-size-small;
            font-weight: 600;
        }
    }
}