@import "../../variables.scss";

.formPanel {
  display: flex;
  flex-direction: row;
  padding-top: 3px;

  .formPanelTitle {
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: auto;
    font-weight: normal;
    font-size: $pt-font-size-xxlarge;
  }
}