@import '../../../../variables.scss';

.user-menu-icon {
  &.bp3-button {
    padding: 5px;
  }

  &-initials {
    color: $gray-alt1;
    font-family: $font-family-monospace;
    font-size: $pt-font-size-small;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    background-color: $gray4;
    border-radius: 10px;
    height: 20px;
    width: 20px;
  }

  .bp3-icon.bp3-icon-user > svg {
    width: 20px;
    height: 20px;
  }
}