.warrant-edit {
  .wizardCaseContainer .callout {
    position: absolute;
    z-index: 0;
  }
}

.warrant-edit-creating-cases {
  text-align: center;
  margin: 24px 0 12px;
}

.warrant-edit-creating-cases-progress {
  width: 80%;
  margin: auto;
}

.warrant-edit-submit-progress-body {
  padding: 0 49px;
}

.warrant-edit-submit-progress-message {
  text-align: center;
  margin: 26px 0 12px;
}
