.custom-side-menu {
  color: #182026;
  cursor: pointer;

  .custom-side-menu-items {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    height: 36px;
    line-height: 24px;
    .bp3-icon {
      color: #5c7080;
      margin-right: 11px;
      display: flex;
      align-items: center;
    }
  }
  .custom-side-submenu-items {
    display: flex;
    flex-direction: column;
    div {
      padding: 4px 10px 4px 24px;
      width: 178px;
      height: 29px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
    .custom-side-submenu-items-active {
      background: rgba(19, 124, 189, 0.2);
      font-weight: 600;
      color: #106ba3;
    }
  }
}
