@import '~@blueprintjs/core/lib/scss/variables';

.multi-tab-container {
  border-style: solid;
  border-width: 1px;
  border-color: #dbdcdd;
  border-radius: 2px;
  padding: 1px;
  .multi-tab-remove-icon {
    padding-left: 10px;
    margin-bottom: 3px;
    color: rgb(72, 102, 124);
  }

  .multi-tab-add-button {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .multi-tab-has-error {
    color: $red2;
  }

  .bp3-tab-list {
    background-color: #f5f7f7;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
    position: relative;
    margin: 0;
    border: none;
    padding: 0px 10px 0px 10px;
    list-style: none;
    text-transform: capitalize;
  }

  .bp3-tab-panel {
    margin-top: 1px;
  }

  .bp3-tab-list {
    overflow: auto;
  }
}
