.common-grid-container{
  float: right;
  height: 95%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.last-updated-at {
  color: rgba(0,0,0,.54);
  margin-left: 16px;
  position: absolute;
  bottom: 8px;
}
