.xcrdd-instance-configuration {
  width: 400px;
  color: #182026;
  b {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .xcrdd-instance-feilds {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    span {
      display: block;
      flex: none;
      order: 1;
      flex-grow: 0;
      &:first-child {
        margin: 4px 0px;
      }
      &:nth-child(2) {
        color: rgba(24, 32, 38, 0.7);
      }
    }
  }
  .xcrdd-instance-retention {
    margin-bottom: 17px;
    .retention-invalid {
      font-size: 12px;
      line-height: 15px;
      /* identical to box height, or 125% */
      color: #de4343;
    }
    label {
      &:after {
        content: ' *';
        color: red;
      }
    }
    input {
      height: 30px;
      width: 248px !important;
      margin-right: 4px;
      background: #ffffff;
      border: 1px solid #dbdcdc;
      box-sizing: border-box;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }
    select {
      height: 30px;
      width: 148px;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 8e-5) 100%
        ),
        #f5f8fa;
      border: 1px solid #cacdcf;
      box-shadow: inset 0px -1px 1px rgba(16, 22, 26, 0.1);
      border-radius: 3px;
    }
    .xcrdd-settings-footnote {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #5c7080;
    }
  }
  .xcrdd-settings-disk-threshold {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: rgba(24, 32, 38, 0.7);
      margin-bottom: 24px;
    }
    .bp3-slider-track {
      background: linear-gradient(90deg, #4aaf05 0%, #ed963f 50%, #db3737 100%);
    }
  }
  .xcrdd-settings-retention-save {
    margin-top: 24px;
    float: right;
    button {
      width: 45px;
    }
  }
}
