@import '../../variables.scss';

.navbar,
.bp3-dark {
  background: #454b4f !important;
  .bp3-popover-arrow-fill {
    fill: white !important;
  }
}

.bp3-menu-burger {
  // margin-top: 4px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgba(115, 134, 148, 0.3);
  }
}

.bp3-menu-container {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  div {
    strong {
      /* Shift to */
      width: 32px;
      height: 18px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 14px;
    }
    svg {
      margin-right: 6px;
    }
    a {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height, or 129% */
      color: #182026;
      padding: 6px 14px 6px 9px;
      text-decoration: none;
      margin: 1px 8px 0 0;
      &:hover {
        background: rgba(167, 182, 194, 0.3);
        border-radius: 2px;
      }
      &:first-child {
        margin-top: 7px;
      }
      cursor: pointer;
    }
  }
}

.navbar-brand-container {
  display: flex;
  flex-direction: row;
  img {
    align-self: center;
  }
}

.navbar-logo-text {
  font-size: 1.5em;
  margin-left: 5px;
}

.bp3-navbar-divider {
  margin: 0 12px !important;
}

.bp3-navbar-heading {
  margin-right: 0px !important;
  min-width: 144px;
  span {
    font-size: 24px;
    margin-bottom: 2px;
    display: table-cell;
    float: right;
    padding-top: 3px;
  }
}

.bp3-nav-bar {
  margin-top: 50px;
  height: 42px;
  align-content: center;
  background: rgb(174, 177, 183);
}

.bp3-navbar-group > button {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 8px;
  }

  .bp3-icon {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 0;
    justify-content: center;
  }

  .bp3-button-text {
    font-size: $pt-font-size-small;
    text-align: center;
  }
}
