@import '../../../variables.scss';

.devices-form-list {
    background-color: $white;
    border: none;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;

    &-header {
        &-data {
            background-color: $devices-table-header-bg-color;
            color: $black;
            font-size: $pt-font-size-small;
            padding: 6.5px 13px;
            position: relative;
            text-align: left;
            font-weight: normal;

            &:not(:first-child) {
                &::before {
                    content: '';
                    background: $devices-table-header-items-border-color;
                    left: 0;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                }
            }
        }
    }

    &-body {
        &-row {
            border: 1px solid $devices-table-body-rows-border-color;

            &-data {
                padding: 0 13px 19px 10px;
            }

            &-data-small {
                text-align: center;
                white-space: nowrap;
                width: 1%;
            }

            &-delete-icon,
            &-device-index {
                padding-top: 15px;
                padding-bottom: 5px;
            }

            &-new-device &-device-index {
                padding-top: 5px;
            }

            &-device-new-tag {
                margin-top: 2px;
            }
        }
    }

    &-service-form-input {
        max-width: 300px;
    }
}