.warrant-view {
  .wizardCaseContainer .callout {
    position: absolute;
    z-index: 0;
  }
  &-actions-button{
    margin-left: 10px;
  }
}

.warrant-view-actions {
  display: flex;
  flex-direction: row;
}

.warrant-view-creating-cases {
  text-align: center;
  margin: 24px 0 12px;
}

.warrant-view-creating-cases-progress {
  width: 80%;
  margin: auto;
}
