@import "../../variables.scss";

.vpn-configuration-section {
  padding-top: 8px;
  padding-bottom: 4px;

  .first-field {
    display:inline-block;
  }

  .next-field {
    display:inline-block;
    margin-left: 20px
  }

  .label-field-value {
    display:inline-block;
    color:gray;
    padding-left: 5px;
  }

  .vpn-toolbar-remove-button {
    span {
      margin-bottom: 3px;
    }
  }
}

.vpn-confirm-popup {
  width: 496px;
  height: 168px;
}
