.bp3-dialog.edit-allowed-ips-dialog {
  width: 41.875rem;

  .ag-root-wrapper {
    overflow: initial;
  }
}

.edit-allowed-ips-dialog-points-of-interception-properties {
  display: flex;
  margin-bottom: 1.125rem;
}

.edit-allowed-ips-dialog-listener-explanation{
  max-width: 24rem
}

.points-of-interception-property {
  flex: 1;
}