html,
#root,
.app-container,
.app-container-content {
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif !important;
  height: 100%;
}

.bp3-dark .bp3-menu {
  background: #454b4f !important;
}

.app {
  text-align: center;
}

.app-container {
  padding: 103px 20px 16px 20px;
  width: 100%;
}

.app-container-no-sub-menu {
  padding-top: 66px;
}

.external-apps-container {
  padding: 50px 0px 0px 0px !important;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  outline: none;
}

.detail-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #f1f1f1;
  box-shadow: -10px 0px 20px #cdcdcd;
  border-left: 2px dashed #ababab;
  // padding: 20px;
  margin-top: 100px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  .bp3-icon {
    margin-top: 10px;
  }
}

.empty-grid {
  border: 1px solid #cdcdcd;
  display: flex;
  background: #f1f1f1;
  align-items: center;
  justify-content: center;
  span {
    color: #ababab;
    font-size: 20px;
  }
}

.DayPicker-Day.DayPicker-Day--today {
  background-color: lightblue;
}

.bp3-toast-message {
  overflow: hidden;
}

.notsupport-text {
  color: darkgray;
  font-size: 24px;
  margin-left: 5px;
  display: table-cell;
  padding-top: 3px;
}
