@import "~@blueprintjs/core/lib/scss/variables";

$error-color: $red2;

$dark-gray-alt2: rgba(24, 32, 38, 0.7);

$pt-font-size-xlarge: $pt-grid-size * 1.8;
$pt-font-size-xxlarge: $pt-grid-size * 2.4;

$background-color: white;
$background-color-alt: #F5F7F7;
$background-color-alt2: #F0F3F7;

$background-color-selected: rgba(183, 228, 255, 0.6);

$background-color-danger: rgba(250, 225, 225, 1);

$border-color: #DBDCDD;
$border-color-alt: #D4D2D2;

$instruction-text-font-size: $pt-font-size-xlarge;
$instruction-text-font-size-small: $pt-font-size;

$white: #ffffff;
$font-color: #182026;
$font-family: 'Titillium Web', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$black: #000000;
$devices-table-header-bg-color: $background-color-alt;
$devices-table-body-rows-border-color: $border-color;
$devices-table-header-items-border-color: #E3E7E8;
$warrant-doing-step-color: #eb8d39;
$warrant-todo-step-color: #dce5ea;
$devices-table-header-bg-color: #F5F7F7;
$devices-table-body-rows-border-color: #DBDCDD;
$devices-table-header-items-border-color: #E3E7E8;
$warrant-doing-step-color: #eb8d39;
$warrant-todo-step-color: #dce5ea;
$dark-gray-alt3: #5C7080;
$input-disabled-background-color: #DCE5EA;
$light-black: rgba(0, 0, 0, .5);
$light-gray1: #ADB7BF;

$red-alt1: #DE4343;

$gray-alt1: #454b4f;
