.dynamic-iframe {
  width: 100%;
  overflow: hidden;
  border: 0px;

  &.logi {
    margin-top: -51px;
    height: calc(100% + 51px);
  }
  &.xms {
    margin-top:  -105px;
    height: calc(100% + 105px);

    &.as-subtab {
      margin-top: -70px;
      height: calc(100% + 70px);
    }
  }
}